@import '../assets/scsss/theme.scss';

.loader {
    border-width: 0.5em;
    border-style: solid;
    border-color:transparent;
    border-top-color: $black;
    border-radius: 50%;
    width: 3em;
    height: 3em;
    animation: spin 1s linear infinite;
    margin: 0 auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}